<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIhvy3rveaIPSmq5F-9Ysr6zybc4GoaDA</string>
	<key>GCM_SENDER_ID</key>
	<string>181364155091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yazilimYapim</string>
	<key>PROJECT_ID</key>
	<string>yazilim-yapimi-eb2a5</string>
	<key>STORAGE_BUCKET</key>
	<string>yazilim-yapimi-eb2a5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181364155091:ios:bd0a6710a4741836e06a26</string>
</dict>
</plist>